<footer class="footer text-center text-sm-left mt-3">
    &copy; 2020 <a href="#">KnD</a> Operating System Management </span> <span class="text-muted d-none d-sm-block text-md-center float-lg-right">Developed by Pascal ALHADOUM</span><p class="text-muted d-sm-none">Developed by Pascal ALHADOUM</p>
</footer>
</div>

{#
<span class="text-muted d-none d-sm-block text-md-center">&copy; 2020 <a href="#">KnD</a> Operating System Management </span><span class="text-muted d-sm-none float-left">&copy; 2020 <a href="#">KnD</a> Operating System Management 
#}